@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 154,85,55;
  --accentcolor2: 154,85,55;
  --linkcolor: 154,85,55;
  --mentioncolor: 154,85,55;
  --textbrightest: 154,85,55;
  --textbrighter: 154,85,55;
  --textbright: 154,85,55;
  --textdark: 154,85,55;
  --textdarker: 154,85,55;
  --textdarkest: 154,85,55;
  --font: gg sans;
  --backgroundaccent: 154,85,55;
  --backgroundprimary: 24,24,24;
  --backgroundsecondary: 24,24,24;
  --backgroundsecondaryalt: 24,24,24;
  --backgroundtertiary: 22,22,22;
  --backgroundfloating: 24,24,24;
  --settingsicons: 1;
}

/* Any custom CSS below here */


